# Ignore node_modules directory
node_modules/

# Ignore build output
dist/
build/

# Ignore environment variables
.env

# Ignore system files
*.log
*.DS_Store

# Ignore the files where info is saved

*.csv